@model String

@{
    ViewBag.Title = "GetUser";

    AjaxOptions ajaxOptions = new AjaxOptions
    {


        UpdateTargetId = "tableBody"
    };



}

<h2>GetUser</h2>

<table>
    <tbody id="tableBody">
        @Html.Action("GetUserData", new { selectedRole=Model})
    </tbody>
</table>

@using (Ajax.BeginForm("GetUser",ajaxOptions)) {

<div>


    
    @Html.DropDownList("selectedrole", new SelectList(new[] 
{ "All" }.Concat(Enum.GetNames(typeof(WebApplication4.Models.Role)))));
    <button type="submit">Search</button>
</div>


}